//  ______abstract_______ //
@import 'abstract/mixings';
@import 'abstract/variables';
 


//  ______base_______ //
@import 'base/main';


//  ______components_______ //
@import 'components/forms';


//  ______pages_______ //
@import 'pages/home';
@import 'pages/room';
@import 'pages/quiz';
@import 'pages/dashboard';
@import 'pages/genres';
@import 'pages/questions';
@import 'pages/users';
@import 'pages/recommendations';
@import 'pages/feedbacks';
@import 'pages/statics';