.feedbacksBody{
    background-color: #9d63ff;
    margin: 1rem;
    .theWholeThing{
        border: 2px solid black;
        background-color: #1da676;
        box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.61),
    }
    .theHeader{
        background-color: #1e8a64;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons{
            display: flex;
            button{
                margin-left: 0.5rem;
                cursor: pointer;
                border: 1px solid black;
                width: 35px;
                height: 20px;
                background-color: #fdffa0;
                box-shadow:   2px 2px 0px 0px rgba(0, 0, 0, 0.61),
                            inset  2px 2px 0px 0px rgb(255, 255, 255);
                &:active{
                    box-shadow: inset  -2px -2px 0px 0px rgb(255, 255, 255),
                    inset  2px 2px 0px 0px rgba(0, 0, 0, 0.61);
                }
            } 
        }
        h1{
            margin-left: 1rem;
            font-family: 'Anonymous Pro', monospace;
            font-size: 1rem;
            color: #fdffa0;
            letter-spacing: 0.1rem;
            span{      
                font-size: 0.7rem;
            }
        }
    }
    .theContent{
        background-color: #f1d0f5;
        border: 2px solid black;
        padding: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        box-shadow: inset  10px 10px 0px 0px rgba(0, 0, 0, 0.486) ;
    }
}

.feedbackDiv{
    width: 100%;
    margin: 1rem;
    background-color: #fffabb;
    z-index: 1;
    padding: 1rem;
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    border-radius: 0.5rem;
    border: 4px solid #1e8a64;
    box-shadow: inset 0px 10px 0px 0px #1da676,
                4px 4px 0px 0px rgba(0, 0, 0, 0.795);

    span{
        font-family: 'VT323';
        font-size: 23px;
    }
    .buttons{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        button{
            cursor: pointer;
            background: transparent;
            border: none;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            img{
                width: 20px;
            }
        }
    }
    .info{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        span{
            width: 60%;
            padding: 0.5rem;
            background-color: #fdfdfd;
            font-family: 'Anonymous Pro';
            border-radius: 5px;
            font-size: 1rem;
            box-shadow: inset 2px -2px 0px 0px rgba(0, 0, 0, 0.61);
        }
        p{
            font-size: 0.7rem;
            font-family: 'Press Start 2P';
            line-height: 1.5;
        }
    }
}

.feedbacksDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.petiteReco{
    flex-basis: 15%;
    flex-grow: 1;
    background-color: #9d63ff;
    padding: 0.5rem;
    display: flex;
    flex-basis: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #55348d;
    box-shadow: inset  3px 3px 0px 0px rgba(0, 0, 0, 0.486),
    3px 3px 0px 0px rgb(255, 255, 255);
    width: 110px;
    img{
        width: 100px;
        border-radius: 5px;
    }
    span{
        margin-top: 0.5rem;
        font-family: 'Anonymous Pro';
        font-size: 1rem;
    }
}

.petiteRecos{
   h4{
    font-family: 'VT323';
    font-size: 2rem;
    padding-bottom: 1rem;
   }
   border-radius: 3px;
   width: 97%;
   margin-top: 1rem;
   padding: 1rem;
   border: 2px solid #55348d ;
   background-color: #c9acfc ;
   flex-wrap: wrap;
   box-shadow: inset  3px 3px 0px 0px rgba(0, 0, 0, 0.486),
   3px 3px 0px 0px rgb(255, 255, 255);
}