
.questionsBody{
    background-color: #9d63ff;
    margin: 1rem;
    .theWholeThing{
        border: 2px solid black;
        background-color: #ffa6ff;
        box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.61),
    }
    .theHeader{
        background-color: #e991d3;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons{
            display: flex;
            button{
                margin-left: 0.5rem;
                cursor: pointer;
                border: 1px solid black;
                width: 35px;
                height: 20px;
                background-color: #ec8d8d;
                box-shadow:   2px 2px 0px 0px rgba(0, 0, 0, 0.61),
                            inset  2px 2px 0px 0px rgb(255, 255, 255);
                &:active{
                    box-shadow: inset  -2px -2px 0px 0px rgb(255, 255, 255),
                    inset  2px 2px 0px 0px rgba(0, 0, 0, 0.61);
                }
            } 
        }
        h1{
            margin-left: 1rem;
            font-family: 'Anonymous Pro', monospace;
            font-size: 1rem;
            color: black;
            letter-spacing: 0.1rem;
            span{      
                font-size: 0.7rem;
            }
        }
    }
    .theContent{
        background-color: #bfd2f7;
        border: 2px solid black;
        padding: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        box-shadow: inset  10px 10px 0px 0px rgba(0, 0, 0, 0.486) ;
    }
}

.questionDev{
    margin: 1rem;
    background-color: #fae1e1;
    z-index: 1;
    padding: 1rem;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 0.5rem;
    border: 4px solid #ec8d8d;
    box-shadow: inset 0px 10px 0px 0px #ec8d8d,
                4px 4px 0px 0px rgba(0, 0, 0, 0.795);

    span{
        font-family: 'VT323';
        font-size: 23px;
    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            cursor: pointer;
            background: transparent;
            border: none;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            img{
                width: 20px;
            }
        }
    }
}

.questionsDev{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#addQuestion{
    font-family: 'Press Start 2P';
    color: black;
    background-color: #ffa6ff;
    margin: 1rem;
    padding: 0.6rem;
    cursor: pointer;
    border: none;
    box-shadow: inset  -3px -3px 0px 0px rgba(0, 0, 0, 0.61),
                inset  3px 3px 0px 0px rgb(255, 255, 255);
    &:active{
        box-shadow: inset  -3px -3px 0px 0px rgb(255, 255, 255),
        inset  3px 3px 0px 0px rgba(0, 0, 0, 0.61);
    }
}


.questionForm{
    display: none;
    padding: 0.5rem;
    background-color: #734797;
    form{
        background-color: #fccefc;
    }
    button{
        background-color: #ec8d8d;
    }
    .formHead{
        background-color: #563174;
    }
    h5{
        color: #ec8d8d;
        font-size: 1rem;
    }
    width: 70%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 1;
    .themTextInputs{
        input{
            margin-left: 1rem;
            width: 85%;
        }
        label{
            font-size: 1.5rem;
        }
    }
    .questionInputThing{
        padding-bottom: 1rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        .themCheckboxesBorder{
            background-color: #ec8d8d;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0.5rem;
            border: 1px solid black;
            border-radius: 5px;
            span{
                padding-bottom: 0.5rem;
                font-family: 'VT323';
                font-size: 1.5rem;
            }
        }
        .themCheckboxes{
            background-color: #fccefc;
            border-radius: 5px;
            border: 1px solid black;
            padding: 1rem;
            flex-basis: 20%;
            display: flex;
            justify-content: baseline;
            align-items: center;
            flex-wrap: wrap;
            box-shadow: inset  -3px -3px 0px 0px rgb(255, 255, 255),
               inset  3px 3px 0px 0px rgba(0, 0, 0, 0.61);
            .theCheckboxe{
                display:flex;
                margin: 1rem;
                label{
                    margin-left: 0.3rem;
                }
            }
        }
    }
}