



.recomBody{
    background-color: #9d63ff;
    margin: 1rem;
    .theWholeThing{
        border: 2px solid black;
        background-color: #ff83cb;
        box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.61),
    }
    .theHeader{
        background-color: #e96eb6;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons{
            display: flex;
            button{
                margin-left: 0.5rem;
                cursor: pointer;
                border: 1px solid black;
                width: 35px;
                height: 20px;
                background-color: #68e2d2;
                box-shadow:   2px 2px 0px 0px rgba(0, 0, 0, 0.61),
                            inset  2px 2px 0px 0px rgb(255, 255, 255);
                &:active{
                    box-shadow: inset  -2px -2px 0px 0px rgb(255, 255, 255),
                    inset  2px 2px 0px 0px rgba(0, 0, 0, 0.61);
                }
            } 
        }
        h1{
            margin-left: 1rem;
            font-family: 'Anonymous Pro', monospace;
            font-size: 1rem;
            color: black;
            letter-spacing: 0.1rem;
            span{      
                font-size: 0.7rem;
            }
        }
    }
    .theContent{
        background-color: #eeebeb;
        border: 2px solid black;
        padding: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        box-shadow: inset  10px 10px 0px 0px rgba(0, 0, 0, 0.486) ;
    }
}

.recoGenreDiv{
    margin: 1rem;
    background-color: #ddffff;
    z-index: 1;
    padding: 1rem;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    border-radius: 0.5rem;
    border: 1rem solid #2b2e2d;
    box-shadow: inset 0px 60px 0px 0px #2b2e2d,
                4px 4px 0px 0px rgba(0, 0, 0, 0.795);
    h1{
        border-radius: 0.5rem;
        background-color: #ddffff;
        padding: 0.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-family: "Press Start 2P";
        font-size: 1.5rem;
    }
}

.recoGenresDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.recosDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.recoDiv{
    border-radius: 5px;
    flex-basis: 10%;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(255, 95, 194);
    width:10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: inset  3px 3px 0px 0px rgba(0, 0, 0, 0.486),
                    3px 3px 0px 0px rgb(255, 255, 255);
    .recoImg{
        width:100%;
        border-radius: 5px;
    }
    .playButton{
        font-family:'VT323';
        font-size: 1.5rem;
        width: 100%;
        padding: 0.5rem;
        background-color: #1da676;
        margin-top: 1rem;
        box-shadow: inset -2px -2px 0px 0px rgba(0, 0, 0, 0.61),
                    inset  2px 2px 0px 0px rgba(255, 255, 255, 0.719);
        border-radius: 5px;
        &:active{
            box-shadow: inset  -2px -2px 0px 0px rgba(255, 255, 255, 0.582),
                        inset  2px 2px 0px 0px rgba(0, 0, 0, 0.61);
        }
    }
    .buttons{
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: end;
        align-items: center;
        button{
            cursor: pointer;
            background: transparent;
            border: none;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            img{
                width: 20px;
            }
        }
    }
    span{
        margin-top: 1rem;
        font-family: 'Anonymous Pro';
    }
}

#addReco{
    font-family: 'Press Start 2P';
    color: black;
    background-color: #68e2d2;
    margin: 1rem;
    padding: 0.6rem;
    cursor: pointer;
    border: none;
    box-shadow: inset  -3px -3px 0px 0px rgba(0, 0, 0, 0.61),
                inset  3px 3px 0px 0px rgb(255, 255, 255);
    &:active{
        box-shadow: inset  -3px -3px 0px 0px rgb(255, 255, 255),
        inset  3px 3px 0px 0px rgba(0, 0, 0, 0.61);
    }
}


.recoForm{
    input{
        width: 97%!important;
    }
    select{
        width: 97%!important;
    }
    h5{
        color: #fbfcda;
        font-size: 1rem;
    }
    .formHead{
        background-color: #66b1a7;
    }
    // display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 1;
    background-color: #68e2d2;
    form{
      background-color: #fad29e;
    }
    button{
        background-color: #e0993b;
    }
}