


.roomBody{
    background-image: url('images/roomnk.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover; 
    background-color: black;
    button{
        position: absolute;
        padding: 0.5rem;
        background: rgb(241, 216, 255);
        border: 5px groove rgb(82, 36, 104);
    }
}

.FilesButton{
  top: 5%; 
  left: 20%; 
  position: fixed;

}
.DashButton{
   top: 13%;
   left: 49%;
   position: fixed;
}

.PlayButton{
   top: 13%;
   left: 10%;
   position: fixed;
}